<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Books.css">
    <script src="https://kit.fontawesome.com/a682db5ebd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Untitled-1.css" />
    
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
    <script src="main.js"></script>  
    <title>Book 2</title>
</head>
<body onload="startTime()">
    <div class="header" id="header">
        <div class="container">
          <div class="logo">
            <i  style="float: left;" class="fa-solid fa-graduation-cap"></i>
  
            <a href="HomePage.ejs" class="logo">Study Buddy</a>
          </div>
         
          
          <ul class="main-nav">
            <li><a href="../HomePage.ejs">Home</a></li>
            <li><a href="../HomePage.ejs#Roadmaps">Roadmaps</a></li>
            <li><a href="../HomePage.ejs#Books">Books</a></li>
            <li><a href="../HomePage.ejs#articles">Articles</a></li>
            <li><a href="../HomePage.ejs#contactus">Contact Us</a></li>
            <li><a href="/sign.ejs"><%= Signin %></a></li>


            
          </ul>
        </div>
      </div>
    <header id="headb1">
     
        <h1>Welcome To The Second Book</h1>
    </header>
    <section id="ds" class="ds dsb1">
        <div class="dsd"><h3 id="dsh">The Book of Machine Learning</h3>
            <p id="dsp">Through a series of recent breakthroughs, deep learning has boosted the entire field
                    of machine learning. Now, even programmers who know close to nothing about this technology can
                    use simple, efficient tools to implement programs capable of learning from data. This practical 
                    book shows you how.By using concrete examples, minimal theory, and two production-ready Python 
                    frameworks—Scikit-Learn and Tensor Flow—author Aurélien Géron helps you gain an intuitive understanding
                    of the concepts and tools for building intelligent systems.</p>
            <div id="read">
                <h4 id="dsa">Author: Aurélien Géron</h4>
            <a id="rm" href="#mb1">Read More</a>
            </div>
        </div>
        <img id="b2img" src="./b2.jpg" alt="this image is not available">
    </section>
    <section id="mb1" >
        <table>
            <tr>
                <th>
                    <td><p class="klam">Explore the machine learning landscape, particularly neural nets
                        Use Scikit-Learn to track an example machine-learning project end-to-end
                        Explore several training models, including support vector machines, decision trees, random forests, and ensemble methods
                        Use the Tensor Flow library to build and train neural nets
                        Dive into neural net architectures, including convolutional nets, recurrent nets, and deep reinforcement learning
                        Learn techniques for training and scaling deep neural nets.</p></td>
                    <td>1</td>
                </th>
            </tr>
            <tr>
                <th>
                    <td><p class="klam">
                    Machine Learning is the science and art of programming computers so they can learn from data.
                    Here is a general definition Machine Learning is the field of study that gives computers the ability
                    to learn without being explicitly programmed Arthur Samuel,1959.You’ll learn a range of techniques,
                    starting with simple linear regression and progressing to deep neural networks. With exercises in 
                    each chapter to help you apply what you’ve learned</p></td>
                    <td>2</td>
                </th>
            </tr>
            <tr>
                <th>
                    <td id="aud"><img id="auds" src="./b2author.jpg" alt="Unavailable">
                    <p  class="klam">Aurélien Géron</p></td>
                    <td>3</td>
                </th>
            </tr>
        </table>
    </section>
    <div class="footer">
        <div class="container">
          <div class="box">
            <h3>Study   Buddy</h3>
            <ul class="social">
              <li>
                <a href="#" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="youtube">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
            <p class="text">
            A year from now you may wish you had started today, Actions speak louder than words
            </p>
          </div>
          <div class="box">
            <ul class="links">
              <li>Completing all work
              </li>
              <li>Being organized
              </li>
              <li>Working on good behavior
              </li>
              <li>Not cheating on homework and tests</li>
              <li>Participating in all class activities
              </li>
            
            </ul>
          </div>
          <div class="box">
            <div class="line">
              <i class="fas fa-map-marker-alt fa-fw"></i>
              
              <div class="info">Egypt,Alexandria University</div>
            </div>
            <div class="line">
              <i class="far fa-clock fa-fw"></i>
              <div class="info" id="cc"></div>
            </div>
            <div class="line">
              <i class="fa-solid fa-calendar"></i>
                            <div class="info" id="cd">
                
              </div>
            </div>
          </div>
          <div class="box footer-gallery">
            <i class="fa-solid fa-graduation-cap fa-10x" style="color:#ffffff;"></i>            
          </div>
        </div>
        <p class="copyright">Made By team-011</p>
        
      </div>
</body>
</html>