<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Books.css">
    <script src="https://kit.fontawesome.com/a682db5ebd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Untitled-1.css" />
    
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
    <script src="main.js"></script>     
    <title>Book 1</title>

</head>
<body onload="startTime()">
    <div class="header" id="header">
        <div class="container">
          <div class="logo">
            <i  style="float: left;" class="fa-solid fa-graduation-cap"></i>
  
            <a href="HomePage.ejs" class="logo">Study Buddy</a>
          </div>
         
          
          <ul class="main-nav">
            <li><a href="HomePage.ejs">Home</a></li>
            <li><a href="../HomePage.ejs#Roadmaps">Roadmaps</a></li>
            <li><a href="../HomePage.ejs#Books">Books</a></li>
            <li><a href="../HomePage.ejs#articles">Articles</a></li>
            <li><a href="../HomePage.ejs#contactus">Contact Us</a></li>
            <li><a href="/sign.ejs"><%= Signin %></a></li>


            
          </ul>
        </div>
      </div>
    <header id="headb1">
  
        <h1 >Welcome To The First Book</h1>
    </header>
    <section id="ds" class="ds dsb1">
        <div class="dsd"><h3 id="dsh">The Book of Data Science</h3>
            <p id="dsp">This book is considered one of the best data science 
                books according to some formal webpages on the internet
                as it trains the students for R programming language as well
                as Python which are very powerful languages in this department.
                Statistical methods are a key part of data science, yet few data
                scientists have formal statistical training. Courses and books on 
                basic statistics rarely cover the topic from a data science perspective.
                useful book if you’re familiar with the R or Python programming languages
                and have some exposure to statistics
            </p>
            <div id="read">
                <h4 id="dsa">Authors: Peter C. Bruce , Peter Gedeck , Andrew Bruce</h4>
            <a id="rm" href="#mb1">Read More</a>
            </div>
        </div>
        <img  class="Edited" src="ds.jpg" alt="this image is not available">
    </section>
    <section id="mb1" >
        <table>
            <tr>
                <th>
                    <td><p class="klam"> Statistical methods are a key part of data science, yet few data scientists have formal statistical training. Courses and books on basic statistics rarely cover the topic from a data science perspective. The second edition of this popular guide adds comprehensive examples in Python, provides practical guidance on applying statistical methods to data science, tells you how to avoid their misuse, and gives you advice on what’s important and what’s not.
                        Many data science resources incorporate statistical methods but lack a deeper statistical perspective. If you’re familiar with the R or Python programming languages and have some exposure to statistics, this quick reference bridges the gap in an accessible, readable format.
                        With this book, you’ll learn:
                        Why exploratory data analysis is a key preliminary step in data science
                        How random sampling can reduce bias and yield a higher-quality dataset, even with big data
                        How the principles of experimental design yield definitive answers to questions
                        How to use regression to estimate outcomes and detect anomalies
                        Key classification techniques for predicting which categories a record belongs to
                        Statistical machine learning methods that "learn" from data
                        Unsupervised learning methods for extracting meaning from unlabeled data</p></td>
                    <td>1</td>
                </th>
            </tr>
            <tr>
                <th>
                    <td><p class="klam">About the author (2020)
                        Peter Bruce is the Founder and Chief Academic Officer of the Institute for Statistics Education at Statistics.com, which offers about 80 courses in statistics and analytics, roughly half of which are aimed at data scientists. He has authored or co-authored several books in statistics and analytics, and he earned his Bachelor’s degree at Princeton, and Masters degrees at Harvard and the University of Maryland.
                        <br>
                        Andrew Bruce, Principal Research Scientist at Amazon, has over 30 years of experience in statistics and data science in academia, government and business. The co-author of Applied Wavelet Analysis with S-PLUS, he earned his bachelor’s degree at Princeton, and PhD in statistics at the University of Washington
                        <br>
                        Peter Gedeck, Senior Data Scientist at Collaborative Drug Discovery, specializes in the development of machine learning algorithms to predict biological and physicochemical properties of drug candidates. Co-author of Data Mining for Business Analytics, he earned PhD’s in Chemistry from the University of Erlangen-Nürnberg in Germany and Mathematics from Fernuniversität Hagen, Germany</p></td>
                    <td>2</td>
                </th>
            </tr>
            <tr>
                <th>
                    <td id="aud"><img id="auds" src="authords.jpg" alt="Unavailable">
                    <p  class="klam">Peter Bruce</p></td>
                    <td>3</td>
                </th>
            </tr>
        </table>
    </section>
    <div class="footer">
        <div class="container">
          <div class="box">
            <h3>Study   Buddy</h3>
            <ul class="social">
              <li>
                <a href="#" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="youtube">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
            <p class="text">
            A year from now you may wish you had started today, Actions speak louder than words
            </p>
          </div>
          <div class="box">
            <ul class="links">
              <li>Completing all work
              </li>
              <li>Being organized
              </li>
              <li>Working on good behavior
              </li>
              <li>Not cheating on homework and tests</li>
              <li>Participating in all class activities
              </li>
            
            </ul>
          </div>
          <div class="box">
            <div class="line">
              <i class="fas fa-map-marker-alt fa-fw"></i>
              
              <div class="info">Egypt,Alexandria University</div>
            </div>
            <div class="line">
              <i class="far fa-clock fa-fw"></i>
              <div class="info" id="cc"></div>
            </div>
            <div class="line">
              <i class="fa-solid fa-calendar"></i>
                            <div class="info" id="cd">
                
              </div>
            </div>
          </div>
          <div class="box footer-gallery">
            <i class="fa-solid fa-graduation-cap fa-10x" style="color:#ffffff;"></i>            
          </div>
        </div>
        <p class="copyright">Made By team-011</p>
        
      </div>
</body>
</html>