<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Books.css">
    <script src="https://kit.fontawesome.com/a682db5ebd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Untitled-1.css" />
    
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
    <script src="main.js"></script>  
    <title>Book 3</title>
</head>
<body onload="startTime()">
    <div class="header" id="header">
        <div class="container">
          <div class="logo">
            <i  style="float: left;" class="fa-solid fa-graduation-cap"></i>
  
            <a href="HomePage.ejs" class="logo">Study Buddy</a>
          </div>
         
          
          <ul class="main-nav">
            <li><a href="../HomePage.ejs">Home</a></li>
            <li><a href="../HomePage.ejs#Roadmaps">Roadmaps</a></li>
            <li><a href="../HomePage.ejs#Books">Books</a></li>
            <li><a href="../HomePage.ejs#articles">Articles</a></li>
            <li><a href="../HomePage.ejs#contactus">Contact Us</a></li>
            <li><a href="/sign.ejs"><%= Signin %></a></li>


            
          </ul>
        </div>
      </div>
    <header id="headb1">
        
        <h1>Welcome To The Third Book</h1>
    </header>
    <section id="ds" class="ds dsb1">
        <div class="dsd"><h3 id="dsh">The Book of Web Development</h3>
            <p id="dsp">A full-color introduction to the basics of HTML and CSS from the publishers of Wrox!
                Every day, more and more people want to learn some HTML and CSS. Joining the professional web designers
                and programmers are new audiences who need to know a little bit of code at work (update a content management
                system or e-commerce store) and those who want to make their personal blogs more attractive. Many books 
                teaching HTML and CSS are dry and only written for those who want to become programmers, which is why 
                this book takes an entirely new approach.</p>
            <div id="read">
                <h4 id="dsa">Author: Jon Duckett</h4>
            <a id="rm" href="#mb1">Read More</a>
            </div>
        </div>
        <img id="b2img" src="./b3.jpg" alt="this image is not available">
    </section>
    <section id="mb1" >
        <table>
            <tr>
                <th>
                    <td><p class="klam">Introduces HTML and CSS in a way that makes them accessible to everyone―hobbyists, students, and professionals―and it’s full-color throughout
                        Utilizes information graphics and lifestyle photography to explain the topics in a simple way that is engaging
                        Boasts a unique structure that allows you to progress through the chapters from beginning to end or just dip into topics of particular interest at your leisure
                        This educational book is one that you will enjoy picking up, reading, then referring back to. It will make you wish other technical topics were presented in such a simple, attractive and engaging way!
                        This book is also available as part of a set in hardcover - Web Design with HTML, CSS, JavaScript and jQuery and in softcover - Web Design with HTML, CSS, JavaScript and jQuery</p></td>
                    <td>1</td>
                </th>
            </tr>
            <tr>
                <th>
                    <td><p class="klam">
                        WELCOME TO A NICER WAY TO LEARN ABOUT HTML & CSS
                        A book about code that doesn't read like a 1980s VCR manual...
                        It's not just for programmers, it's written and presented to make it 
                        easy for designers, bloggers, content and e-commerce managers, 
                        marketers to learn about the code used to write web pages...</p></td>
                    <td>2</td>
                </th>
            </tr>
            <tr>
                <th>
                    <td id="aud"><img id="auds" src="./aub3.jpg" alt="Unavailable">
                    <p  class="klam">Jon Duckett</p></td>
                    <td>3</td>
                </th>
            </tr>
        </table>
    </section>
    <div class="footer">
        <div class="container">
          <div class="box">
            <h3>Study   Buddy</h3>
            <ul class="social">
              <li>
                <a href="#" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="youtube">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
            <p class="text">
            A year from now you may wish you had started today, Actions speak louder than words
            </p>
          </div>
          <div class="box">
            <ul class="links">
              <li>Completing all work
              </li>
              <li>Being organized
              </li>
              <li>Working on good behavior
              </li>
              <li>Not cheating on homework and tests</li>
              <li>Participating in all class activities
              </li>
            
            </ul>
          </div>
          <div class="box">
            <div class="line">
              <i class="fas fa-map-marker-alt fa-fw"></i>
              
              <div class="info">Egypt,Alexandria University</div>
            </div>
            <div class="line">
              <i class="far fa-clock fa-fw"></i>
              <div class="info" id="cc"></div>
            </div>
            <div class="line">
              <i class="fa-solid fa-calendar"></i>
                            <div class="info" id="cd">
                
              </div>
            </div>
          </div>
          <div class="box footer-gallery">
            <i class="fa-solid fa-graduation-cap fa-10x" style="color:#ffffff;"></i>            
          </div>
        </div>
        <p class="copyright">Made By team-011</p>
        
      </div>
</body>
</html>