<!DOCTYPE html>
<html>

    <head>
        <title>Cyber Security Articles</title>
        <link rel="stylesheet" href="article.css" />
        <script src="https://kit.fontawesome.com/a682db5ebd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="Untitled-1.css" />
        
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
        <script src="main.js"></script>     

    </head>

    <body onload="startTime()">
        <div class="header" id="header">
            <div class="container">
              <div class="logo">
                <i  style="float: left;" class="fa-solid fa-graduation-cap"></i>
      
                <a href="HomePage.ejs" class="logo">Study Buddy</a>
              </div>
             
              
              <ul class="main-nav">
                <li><a href="../HomePage.ejs">Home</a></li>
                <li><a href="../HomePage.ejs#Roadmaps">Roadmaps</a></li>
                <li><a href="../HomePage.ejs#Books">Books</a></li>
                <li><a href="../HomePage.ejs#articles">Articles</a></li>
                <li><a href="../HomePage.ejs#contactus">Contact Us</a></li>
                <li><a href="/sign.ejs"><%= Signin %></a></li>
    
    
                
              </ul>
            </div>
          </div>
        <div id="art_page">
            <header style="text-align: center ; font-size: 80px;">CYBER SECURITY ! </header>
            <br>
            <br>
            <iframe src="https://www.youtube.com/embed/GT0daScxO18?autoplay=1&mute=1"></iframe>
            <section>
                <h1 id="art_h1">Content </h1>
                <ul id="art_ul">
                    <li id="art_li"><a href="#section1">Cyber security</a></li>
                    <li id="art_li"><a href="#section2">The importance of cyber security and its application</a></li>
                    <li id="art_li"><a href="#section3">Cyber Security threats</a></li>
                    <li id="art_li"><a href="#section4">What are the common ways to attack cyber security?</a></li>
                    <li id="art_li"><a href="#section5">The impact of threats on cyber security</a></li>
                    <li id="art_li"><a href="#section6">How to protect cyber security measures</a></li>
                    <li id="art_li"><a href="#section7">Another definition of cyber security</a></li>
                    <li id="art_li"><a href="#section8">The importance of cyber security</a></li>
                    <li id="art_li"><a href="#section9">Cyber Security Challenges</a></li>
                </ul>
            </section>
           

            <hr>
            <section id="section1">
                <h1 id="art_h1">Cyber Security</h1>
        
                <p id="art_p">
                Cyber security means the practice of defending computers, servers, mobile devices, electronic systems, networks, and data from malicious attacks. It is also known as IT security or electronic information security.
                The term applies in a variety of contexts, from business to mobile computing, and can be broken down into a few common categories.
                Network security is the practice of securing a computer network from hackers, whether they are targeted attackers or opportunistic malware.
                </p> 
       
            </section>

        
            <hr>
        
        
            <section id="section2">
                <br>
                <h1 id="art_h1">The importance of cyber security and its application</h1>
                <img src="https://new.almalomat.com/wp-content/uploads/2019/10/cyber-energy-feature_1200x675_hero_focus_0218.png" alt="cyber security first image" >
                <ul id="art_ul">
                    <li id="art_li">A cybersecurity application focuses on keeping software and hardware free and secure from threats. Successful security begins at the design stage, long before software is deployed or hardware is sold.</li>
                    <li id="art_li">Cyber Security protects the integrity and privacy of data, whether in storage or transmission.</li>
                    <li id="art_li">Operational security includes the processes and decisions to handle and protect data assets. All users' permissions when accessing the Internet and the procedures that determine how and where data is stored or shared all fall under this umbrella.</li>
                    <li id="art_li">Disaster recovery defines business continuity and how an organization responds to a cybersecurity incident or other event that causes loss of operations or data.</li>
                    <li id="art_li">Disaster recovery policies dictate how the organization restores its operations and information to return to the same operating capacity as it was before the event.</li>
                    <li id="art_li">Teaching users to delete suspicious email attachments, not to connect unidentified USB drives, and many other important lessons are vital to the security of any organization.</li>
                </ul>
                <br>
            </section>


            <hr>


            <section id="section3">
                <h1 id="art_h1">Cyber Security threats</h1>
                <ul id="art_ul">
                    <li id="art_li">Cybercrime involves individual actors or groups that target systems for financial gain or to cause disruption.</li>
                    <li id="art_li">A cyber attack often involves politically motivated information gathering.</li>
                    <li id="art_li">Cyberterror aims to undermine electronic systems to cause panic or fear.</li>
                </ul>
                <br>
            </section>
        
         
            <hr>


            <section id="section4">
                <h1 id="art_h1">What are the common ways to attack cyber security?</h1>
                <ul id="art_ul">
                    <li id="art_li">Common methods that attackers use to gain control of computers or networks include viruses and spyware.</li>
                    <li id="art_li">Viruses can self-replicate files and destroy them or damage systems, while spyware is used to collect the wrong data.</li>
                    <li id="art_li">Malicious code is often spread via an unsolicited email attachment or a legitimate download of malware.</li>
                </ul>
                <br>
            </section>
            
            
            <hr>


            <section id="section5">
                <h1 id="art_h1">The impact of threats on cyber security</h1>
                <p id="art_p">Cyber security threats affect all industries, regardless of size. The industries that have reported the most cyber attacks in recent years are healthcare, manufacturing, finance, and government.
                Some of these sectors are more attractive to cybercriminals because they collect financial and medical data, but all companies that use networks for customer data can be targeted to spy on and attack customers.</p>
                </p>
                <br>
            </section>
            
            
            <hr>


            <section id="section6">
                <h1 id="art_h1">How to protect cyber security measures</h1>
                <ul id="art_ul">
                    <li id="art_li">Cybersecurity relies on encryption protocols to encrypt emails, files, and other important data. This not only protects the information but also protects it against loss or theft.</li>
                    <li id="art_li">In addition, end-user security software scans computers for malicious software, isolates it, and removes it from the machine.</li>
                    <li id="art_li">Security software can even detect and remove malicious code hidden in the Master Boot Record (MBR) and is designed to encrypt or erase data from a computer's hard drive.</li>
                    <li id="art_li">Cybersecurity protocols also focus on malware detection, with many of them using heuristics and behavioral analysis to monitor software behavior and virus defenses.</li>
                    <li id="art_li">Cybersecurity software can separate potentially harmful software on a virtual bubble from the user's network to analyze their behavior and learn how to better detect new infections.</li>
                    <li id="art_li">Security software continues to develop new defenses as cybersecurity professionals identify new threats and new ways to combat them.</li>
                </ul>
                <br>
            </section>


            <hr>


            <section id="section7">
                <h1 id="art_h1">Another definition of cyber security</h1>
                <p id="art_p">Cybersecurity refers to the set of technologies, processes, and practices designed to protect networks, hardware, software, and data from attack or damage. Cyber security can also be referred to as IT security.</p>
                <br>
            
            </section>
        

            <hr>


            <section id="section8">
                <h1 id="art_h1">The importance of cyber security</h1>
                <img src="https://new.almalomat.com/wp-content/uploads/2019/10/Cybersecurity-Month-TI-Blue-1920x1080-01-1400x788.png" alt="cyber security second image">
                <ul id="art_ul">
                    <li id="art_li">Digital security is important because governments, military institutions, corporations, financial and medical institutions collect, process and store unprecedented amounts of data on computers and other devices.</li>
                    <li id="art_li">A large part of that data can be sensitive information, whether it is intellectual property, financial data, personal information or other types of data whose access and hacking can have severe negative consequences.</li>
                    <li id="art_li">Organizations transmit sensitive data across networks and to other devices in the course of doing business. With the increasing scale and sophistication of cyberattacks, companies and organizations, especially those tasked with protecting information related to national security and health, or financial records, need to take steps to protect their sensitive information about individuals and employees. Here comes the role of cyber security.</li>
                    <li id="art_li">As early as March 2013, top intelligence officials in a large number of countries warned that cyber attacks and digital espionage represented the greatest threat to national security, even trumping terrorism.</li>
                </ul>
                <br>
            </section>
        
        
            <hr>


            <section id="section9">
                <h1 id="art_h1">Cyber Security Challenges</h1>
                <p id="art_p">To achieve effective cybersecurity, an organization needs to coordinate its efforts throughout its information system. Its components include all of the following:</p>
                <ul id="art_ul">
                    <li id="art_li">Network Security</li>
                    <li id="art_li">Application Security</li>
                    <li id="art_li">Data Security</li>
                    <li id="art_li">Identity Management</li>
                    <li id="art_li">Database and Infrastructure Security</li>
                    <li id="art_li">Phone Protection</li>
                    <li id="art_li">Disaster Recovery / Business Continuity Planning</li>
                </ul>
            </section>
        
        </div>   
        <div class="footer">
            <div class="container">
              <div class="box">
                <h3>Study   Buddy</h3>
                <ul class="social">
                  <li>
                    <a href="#" class="facebook">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="youtube">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
                <p class="text">
                A year from now you may wish you had started today, Actions speak louder than words
                </p>
              </div>
              <div class="box">
                <ul class="links">
                  <li>Completing all work
                  </li>
                  <li>Being organized
                  </li>
                  <li>Working on good behavior
                  </li>
                  <li>Not cheating on homework and tests</li>
                  <li>Participating in all class activities
                  </li>
                
                </ul>
              </div>
              <div class="box">
                <div class="line">
                  <i class="fas fa-map-marker-alt fa-fw"></i>
                  
                  <div class="info">Egypt,Alexandria University</div>
                </div>
                <div class="line">
                  <i class="far fa-clock fa-fw"></i>
                  <div class="info" id="cc"></div>
                </div>
                <div class="line">
                  <i class="fa-solid fa-calendar"></i>
                                <div class="info" id="cd">
                    
                  </div>
                </div>
              </div>
              <div class="box footer-gallery">
                <i class="fa-solid fa-graduation-cap fa-10x" style="color:#ffffff;"></i>            
              </div>
            </div>
            <p class="copyright">Made By team-011</p>
            
          </div>
    </body>
</html>