<!DOCTYPE html>
<html>

    <head>
        <title>Data Science Articles</title>
        <link rel="stylesheet" href="article.css" />
        <script src="https://kit.fontawesome.com/a682db5ebd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="Untitled-1.css" />
        
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
        <script src="main.js"></script>     

    </head>

    <body onload="startTime()">
        <div class="header" id="header">
            <div class="container">
              <div class="logo">
                <i  style="float: left;" class="fa-solid fa-graduation-cap"></i>
      
                <a href="HomePage.ejs" class="logo">Study Buddy</a>
              </div>
             
              
              <ul class="main-nav">
                <li><a href="../HomePage.ejs">Home</a></li>
                <li><a href="../HomePage.ejs#Roadmaps">Roadmaps</a></li>
                <li><a href="../HomePage.ejs#Books">Books</a></li>
                <li><a href="../HomePage.ejs#articles">Articles</a></li>
                <li><a href="../HomePage.ejs#contactus">Contact Us</a></li>
                <li><a href="/sign.ejs"><%= Signin %></a></li>
    
    
                
              </ul>
            </div>
          </div>
        <div id="art_page">
            <header style="text-align: center ; font-size: 80px;">DATA SCIENCE ! </header>
            
            <br><br>

            <iframe src="https://www.youtube.com/embed/X3paOmcrTjQ?autoplay=1&mute=1"></iframe>

            <section>
                <h1 id="art_h1">Content </h1>
                <ul id="art_ul">
                    <li id="art_li"><a href="#section1">About the data science major</a></li>
                    <li id="art_li"><a href="#section2">Personal traits of a data science pioneer</a></li>
                    <li id="art_li"><a href="#section3">Disciplines and departments of data science</a></li>
                    <li id="art_li"><a href="#section4">Data science majors</a></li>
                    <li id="art_li"><a href="#section5">Number of years studying data science</a></li>
                    <li id="art_li"><a href="#section6">Recession rate and percentage of demand for data science major</a></li>
                    <li id="art_li"><a href="#section7">Advantages of studying a data science major</a></li>
                    <li id="art_li"><a href="#section8">Disadvantages of studying data science</a></li>
                    <li id="art_li"><a href="#section9">Data science majors</a></li>
                    <li id="art_li"><a href="#section10">Average salary for data science graduates</a></li>
                </ul>
            </section>

            <br><br>
            <hr>

            <section id="section1">
                <h1 id="art_h1">About the data science major</h1>
                <img src="https://345.technology/wp-content/uploads/2020/04/DSSC-March-Cover.png" alt="data science first image">
                <p id="art_p">Harvard Business magazine defines data science as one of the most exciting and popular sciences of the 21st century, and many data science experts have pointed out that the excitement of data science has added an exciting touch to some other sciences such as statistics!</p>
                <p id="art_p">Did you know that the title “21st century oil” is given to the discipline of “data science” to highlight its importance and scientific value in our lives?</p>
                <p id="art_p">Data science is an interdisciplinary science that uses scientific methods, processes, algorithms, and systems to extract knowledge and ideas from data, whether the data is structured or not, just like data mining and so-called "Data Mining".</p>
                <p id="art_p">The discipline of "data science" was formerly called "Datalogy" and now it is in English "Data Science", and data science can be defined as the use of computers, equipment, programming systems, and algorithms in order to solve problems and explain actual phenomena, as it uses theories derived from science Others, including mathematics, information systems, statistics, and computer science.</p>
                <p id="art_p">The history of the inception and existence of this discipline goes back more than thirty years, and it is worth noting that there are many differences between data science, data analysis, and big data regardless of their common goals.</p>
                <h2>What is data analysis?</h2>
                <p id="art_p">It is the examination of the available data, for the purpose of extracting and deducing information that may be useful in knowing the reasons for the occurrence of things in the past, or in order to apply them in the present, with the aim of developing life in the future, where all this is through algorithms.
                You should know, dear reader, that data science is one of the disciplines that must exist in the future, due to the importance that it enjoys, as we are always in need of this science due to the developments and updates that our current era is still reaching.</p>
                <h2>What is big data?</h2>
                <p id="art_p">Big data is considered to be very huge amounts of data that are constantly increasing and growing, and it is not possible to process or even deal with this data, and collect it based on traditional methods because of its large size, as this type of data requires innovative methods to process it.</p>
            </section>

            <br>
            <hr>

            <section id="section2"> 
                <h1 id="art_h1">Personal traits of a data science pioneer</h1>
                <p id="art_p">If you want to join the data science majors, it is worthwhile to have these personality traits:</p>
                <ul id="art_ul">
                    <li id="art_li">Creativity, curiosity, and curiosity.</li>
                    <li id="art_li">Accuracy, attention to detail.</li>
                    <li id="art_li">Communication, analysis, planning, organizing and problem solving skills.</li>
                    <li id="art_li">Good level in mathematics and quantitative techniques.</li>
                    <li id="art_li">The ability to simplify and explain complex matters.</li>
                    <li id="art_li">The desire to develop systems, programs, and applications, and to keep pace with all the updates and changes that accompany technology.</li>
                    <li id="art_li">Critical thinking and logical thinking skills.</li>
                    <li id="art_li">Comprehension skills by reasoning.</li>
                    <li id="art_li">Skills of collecting data and information and linking them to each other.</li>
                    <li id="art_li">The ability to store and learn a lot of new information as this discipline creates new information.</li>
                    <li id="art_li">Decision-making and decision-making skills.</li>
                    <li id="art_li">Passion and patience.</li>
                    <li id="art_li">Self development.</li>
                    <li id="art_li">Accuracy in dealing with computers and electronic devices.</li>
                    <li id="art_li">Not to give up and get bored of routine and office chores.</li>
                    <li id="art_li">The ability to learn English because there are a lot of materials given in English in this specialization, in addition to technical terms that must be learned, understood and used.</li>
                    <li id="art_li">The ability to formulate problems and deal with numbers, and this can only be achieved by achieving logical thinking and analysis skills.</li>
                    <li id="art_li">Good skills in science, technology, engineering, and mathematics, which today are called STEM skills.<br>What are STEM skills?</li>
                    <li id="art_li">Staying ready to go to one of the seats of computer science majors.</li>
                    <li id="art_li">Constant quest for progress and development.</li>
                    <li id="art_li">Professional work ethics.</li>
                    <li id="art_li">Engineering skills because of the applications in the specialization in civil engineering.</li>
                    <li id="art_li">Knowledge of business strategies and core knowledge.</li>
                    <li id="art_li">Familiarity with programming languages.</li>
                    <li id="art_li">Familiarity with statistics.</li>
                </ul>
            </section>

            <br>
            <hr>

            <section id="section3">
                <h1 id="art_h1">Disciplines and departments of data science</h1>
                <p id="art_p">Of course, this major does not fall under the list of other disciplines because it is originally one of the branches of computer science, but this major deals with related side topics such as big data science and data analysis.</p>
                <p id="art_p">The main problem with computer science disciplines in general is that they are constantly and rapidly evolving, as not all countries and universities can meet this development. Therefore, we see some disciplines that are taught in European countries but not taught in Arab countries. For example, we find that computer science is taught in Arab countries, while we do not find specializations in artificial intelligence and data science.</p>
                <h3>Computer science majors:</h3>
                <ul id="art_ul">
                    <li id="art_li">Software Engineering - Software Engineering.</li>
                    <li id="art_li">Programming.</li>
                    <li id="art_li">Computer Information Systems.</li>
                    <li id="art_li">Information security confidentiality.</li>
                    <li id="art_li">Artificial Intelligence.</li>
                    <li id="art_li">Mobile Computing.</li>
                </ul>
            </section>
            
            <br>
            <hr>

            <section id="section4">
                <h1 id="art_h1">Data science majors</h1>
                <img src="https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress-india/2019/12/what-is-data-scientist-springboard-india.png" alt="data science second image">
                <p id="art_p">Please note that it is not possible to mention the names of subjects and courses and to adopt a specific style of them, because this specialization is not currently taught in the Arab world. However, we will be exposed to all the subjects, topics, courses, and topics in a very general way without going through the detailed names of the subjects, which are the following:</p>
                <ul id="art_ul">
                    <li id="art_li">Mathematics
                        <p id="art_p">Mathematics in the field of data science includes the study of linear algebra and statistics.</p>
                    </li id="art_li">
                    
                    <br>

                    <li id="art_li">Programming Language
                        <p id="art_p">Where programming languages are very important in the field of data science, the most prominent examples of programming languages are:</p>
                        <ul type="circle" id="art_ul">
                            <li id="art_li">Python.</li>
                            <li id="art_li">C++.</li>
                            <li id="art_li">Matlab.</li>
                            <li id="art_li">Go.</li>
                        </ul>
                    </li>

                    <br>

                    <li id="art_li">Data Management
                        <p id="art_p">These courses deal with the areas of data mining, data mining, and information retrieval.</p>
                    </li>
                    
                    <br>

                    <li id="art_li">Data Analysis
                        <p id="art_p">Data analysis is a major focus in data science.</p>
                    </li>
                
                    <br>

                    <li id="art_li">Machine Learning
                        <p id="art_p">Machine learning covers several topics related to machine learning, robotics, and enhancing the educational process.</p>
                    </li>
                
                    <br>

                    <li id="art_li">Algorithms
                        <p id="art_p">Algorithms are a set of mathematical and logical steps for solving problems.</p>
                    </li>
                
                    <br>

                    <li id="art_li">Big Data
                        <p id="art_p">Big data is considered to be very huge amounts of data, and it is constantly growing and growing and it is not possible to process this data or even deal with and collect it based on traditional methods because of its large size, as this type of data requires innovative methods to process it.</p>
                    </li>
                </ul>
                <p id="art_p">Knowing that these subjects, their names, and their courses, differ from one university to another and may increase or decrease some of them, and some of them are at an advanced level, and others have two tracks or more, but they all pour into the same academic content and towards achieving the same goals of studying data science.</p>
                <p id="art_p">This specialization aims to come up with new data based on old data, and the percentage of benefit from data science and analysis is great in the fields of work, especially in companies, where it is possible to predict the profits that the company will reap and the number of new users in a particular month, for example. It also includes classification or classification processes of all kinds, discovering relationships between data, measuring the performance of algorithms, as well as improving their performance.</p>
            </section>
        
            <br>
            <br>
            <br>
            <hr>

            <section id="section5">
                <h1 id="art_h1">Number of years studying data science</h1>
                <p id="art_p">The degree course in computer science majors generally ends within 4 years.</p>
            </section>
            
            <br>
            <hr>

            <section id="section6">
                <h1 id="art_h1">Recession rate and percentage of demand for data science major</h1>
                <p id="art_p">The future of data science</p>
                <p id="art_p">Most of the technological disciplines have come to the fore in the list of future disciplines, and the list of disciplines that are in high demand, as students are in a rush and intense competition to go to study computer science disciplines, including data science, software engineering, and computer information systems, in addition to robotics and also artificial intelligence. , in order to ensure the study of a desirable specialization with a secure career future.</p>
                <p id="art_p">We also live in a small village due to technology, and we cannot ignore its importance, as it has facilitated many things in our lives so that it is not possible to dispense with it when doing most of our lives.</p>
                <p id="art_p">It is difficult to place this specialization in the ranks of the specializations that may become stagnant or saturated, as it is one of the required future specialties.</p>
                <h2>What does specialty application status mean?</h2>
                <p id="art_p">The state of demand for a specialization means that the labor market needs it, and therefore its graduates can find a job.</p>
                <h2>What is the state of stagnation and saturation?</h2>
                <p id="art_p">It is defined by stagnation and saturation as specialization reaches the point of sufficiency in the labor market in a country. Thus, it is difficult for its graduates to find a job.</p>
                <p id="art_p">Accordingly, and in accordance with technological development, data science is considered one of the most popular disciplines at the present time, and the demand for it will increase in the future, due to the need for large and global companies for graduates and experts in these disciplines because these companies always need specialists to analyze the huge amount of data that they provide.</p>
            </section>
            
            <br>
            <hr>

            <section id="section7">
            <h1 id="art_h1">Advantages of studying a data science major</h1>
                <ul id="art_ul">
                    <li id="art_li">Become a data science specialist or scientist.</li>
                    <li id="art_li">Use a variety of techniques, images, analysis and statistics.</li>
                    <li id="art_li">Gain experience in global and important programs such as Microsoft Data Science.</li>
                    <li id="art_li">You can solve a lot of problems people face with data.</li>
                    <li id="art_li">It is one of the most developed and widespread specializations in the current era.</li>
                    <li id="art_li">work as one team.</li>
                    <li id="art_li">Think logically.</li>
                    <li id="art_li">Developing competencies in the field of computer science, specifically in the field of data mining, data mining, and information retrieval, as it is considered one of the most important topics that have been at the fore in scientific research in recent times.</li>
                    <li id="art_li">Opening the door to exciting and exciting career, academic and scientific paths, as well as their modernity, development and keeping pace.</li>
                    <li id="art_li">Take advantage of technology and use it properly.</li>
                    <li id="art_li">Expand science and culture from data science to calculus, mathematics and physics.</li>
                    <li id="art_li">Opportunity to work in major international companies.</li>
                    <li id="art_li">Get high wages.</li>
                </ul>
            </section>

            <br>
            <hr>

            <section id="section8">
                <h1 id="art_h1">Disadvantages of studying data science</h1>
                <ul id="art_ul">
                    <li id="art_li">Sometimes bored with chores.</li>
                    <li id="art_li">Draining brain energy in constant thinking and making a lot of mental efforts.</li>
                    <li id="art_li">High tuition costs.</li>
                    <li id="art_li">The number of graduates and experts of this specialization is few.</li>
                    <li id="art_li">Tiredness, exhaustion and continuing to work for long hours.</li>
                    <li id="art_li">It is a rather difficult and complex study.</li>
                    <li id="art_li">This specialization needs to be followed up as soon as possible because the lack of follow-up leads to problems that are difficult to overcome.</li>
                    <li id="art_li" id="art_li">Lack of specialization in the Arab world.</li>
                    <li id="art_li">Lack of privacy The identity of the data subjects cannot be hidden.</li>
                </ul>
            </section>

            <br>
            <hr>

            <section id="section9">
                <h1 id="art_h1">Data science majors</h1>
                <img src="https://onthemarc.org/wp-content/uploads/2021/02/Data-Science-Courses-1.png" alt="data science third image">
                <ul id="art_ul">
                    <li id="art_li">Expertise in programming.</li>
                    <li id="art_li">data scientist.</li>
                    <li id="art_li">Technical support specialist.</li>
                    <li id="art_li">Systems analysis, design and development.</li>
                    <li id="art_li">data analysis.</li>
                    <li id="art_li">Supervising computer and robotics works.</li>
                    <li id="art_li">Expertise in databases.</li>
                    <li id="art_li">Work in the field of education.</li>
                    <li id="art_li">Computer engineering.</li>
                    <li id="art_li">Expertise in machine learning.</li>
                    <li id="art_li">Work in research areas in computer science.</li>
                    <li id="art_li">Work in the field of network management and protection.</li>
                    <li id="art_li">Technical project management.</li>
                    <h2>It is possible to work in the following sectors:</h2>
                    <li id="art_li">ministries.</li>
                    <li id="art_li">schools.</li>
                    <li id="art_li">Universities.</li>
                    <li id="art_li">libraries.</li>
                    <li id="art_li">research centers.</li>
                    <li id="art_li">companies.</li>
                    <li id="art_li">industrial establishments.</li>
                    <li id="art_li">technical institutions.</li>
                    <li id="art_li">professional institutions.</li>
                </ul>
                <p id="art_p">It is also possible to work in the field of teaching others, and training them in the use of software, artificial intelligence, and their development.</p>
                
            </section>
        
            <br>
            <hr>
            <section id="section10">
                <img src="https://www.analytixlabs.co.in/blog/wp-content/uploads/2021/04/Blog-Banner-24.jpg" alt="data science forth image">
                <h1 id="art_h1">Average salary for data science graduates</h1>
                <p id="art_p">The data science career framework is characterized by high salaries, knowing that the salaries paid for graduates depend on the company, experience, academic level, and soft skills. But salaries generally start as follows, according to statistics prepared by the University of Wisconsin Data Science, where the annual salaries for the following positions are as shown below:</p>
                <ul id="art_ul">
                    <li id="art_li">Data scientist: $50,000 - $75,000.</li>
                    <li id="art_li">Data analyst: $90,000-140,000.</li>
                </ul>
                <p id="art_p">It is also possible to work in major international companies that give very high and rewarding salaries:</p>
                <ul id="art_ul">
                    <li id="art_li">The annual salary at Google is $152,856.</li>
                    <li id="art_li">The annual salary at Apple is $145,974.</li>
                    <li id="art_li">Twitter employees earn a salary of $135,360.</li>
                    <li id="art_li">Microsoft gives salaries of $123,328.</li>
                </ul>
            </section>

        </div>
        <div class="footer">
            <div class="container">
              <div class="box">
                <h3>Study   Buddy</h3>
                <ul class="social">
                  <li>
                    <a href="#" class="facebook">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="youtube">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
                <p class="text">
                A year from now you may wish you had started today, Actions speak louder than words
                </p>
              </div>
              <div class="box">
                <ul class="links">
                  <li>Completing all work
                  </li>
                  <li>Being organized
                  </li>
                  <li>Working on good behavior
                  </li>
                  <li>Not cheating on homework and tests</li>
                  <li>Participating in all class activities
                  </li>
                
                </ul>
              </div>
              <div class="box">
                <div class="line">
                  <i class="fas fa-map-marker-alt fa-fw"></i>
                  
                  <div class="info">Egypt,Alexandria University</div>
                </div>
                <div class="line">
                  <i class="far fa-clock fa-fw"></i>
                  <div class="info" id="cc"></div>
                </div>
                <div class="line">
                  <i class="fa-solid fa-calendar"></i>
                                <div class="info" id="cd">
                    
                  </div>
                </div>
              </div>
              <div class="box footer-gallery">
                <i class="fa-solid fa-graduation-cap fa-10x" style="color:#ffffff;"></i>            
              </div>
            </div>
            <p class="copyright">Made By team-011</p>
            
          </div>
    </body>
</html>