<html lang="en"> 
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Study Buddy</title>
      <link rel="shortcut icon" type="image/x-icon" href="graduation-cap-outline-svgrepo-com.svg" />
      <script src="main.js"></script>     
      <script src="https://kit.fontawesome.com/a682db5ebd.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="Untitled-1.css" />
      
      <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
    </head>
  <body onload="startTime()">
      <!-- Start Header -->
      <div class="header" id="header">
        <div class="container">
          <div class="logo">
            <i  style="float: left;" class="fa-solid fa-graduation-cap"></i>
  
            <a href="HomePage.ejs" class="logo">Study Buddy</a>
          </div>
         
          
          <ul class="main-nav">
            <li><a href="#header">Home</a></li>
            <li><a href="#Roadmaps">Roadmaps</a></li>
            <li><a href="#Books">Books</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#contactus">Contact Us</a></li>
            <li><a href="./sign.ejs"><%= Signin %></a></li>


            
          </ul>
        </div>
      </div>
      <!-- End Header -->

      <div class="landing">
        <div class="intro-text">
          <h1>Welcome, To Study Buddy World</h1>
          <i><p>Come on! You can do it</p></i>
        </div>

      </div>

<!-- strat Roadmaps -->

      <div class="Roadmaps" id="Roadmaps">
        <h2 class="main-title">Roadmaps</h2>
        <div class="container">
          <a href="Python.ejs">
          <div class="box" id="android" style="  cursor: pointer;" >
            <div class="image" >
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png" alt="" />
            </div>
          </div>
        </a>
          <a  href="android.ejs">
          <div class="box" id="python" style="  cursor: pointer;">
            <div class="image">
              <img src="https://4.bp.blogspot.com/-37vKXsF9zoc/Vydn02N7qwI/AAAAAAAAAL8/Iw-WhLWKT4cw-BeHgdg9OZUF-q7ey7IfQCLcB/s1600/ANDROID.png" alt="" />
            </div>
          </div>
          </a>
          <a href="DataScience.ejs">
          <div class="box" id="dataseince" style="  cursor: pointer;">
            <div class="image">
              <img src="https://static.vecteezy.com/system/resources/previews/006/020/770/original/brain-tech-mind-data-logo-free-vector.jpg" alt="" />
            </div>
          </div>
        </a>
         
          <!-- end roadmap -->
         
        </div>
      </div>
      <!-- Start books -->
    <div class="Books" id="Books">
        <h2 class="main-title">Books</h2>
        <div class="container">
          <div class="box quality">
            <div class="img-holder"><img src="ds.jpg" alt="" /></div>
            <h2>Data Science</h2>
            <p>Authors: Peter C. Bruce
            </p>
            <a href="Book1.ejs">More</a>
          </div>
         
          <div class="box time">
            <div class="img-holder"><img src="b2.jpg" alt="" /></div>
            <h2>Machine Learning </h2>
            <p>Author: Aurélien Géron</p>
            <a href="Book2.ejs">More</a>
          </div>
          <div class="box passion">
            <div class="img-holder"><img src="b3.jpg" alt="" /></div>
            <h2>Web Development</h2>
            <p>Author: Jon Duckett</p>
            <a href="book3.ejs">More</a>
          </div>
        </div>
      </div>
      <!-- End Features -->

      <!-- Start articles -->
    <div class="articles" id="articles">
        <h2 class="main-title">articles</h2>
        <div class="container">
          <div class="box">
            <i class="fa-solid fa-lock fa-4x"></i>
           
            <h3>Security</h3>
            <div class="info">
              <a href="Cyber-Security.ejs">Details</a>
            </div>
          </div>
      
          <div class="box">
            <i class="fa-brands fa-internet-explorer fa-4x"></i>
            <h3>Web Apps</h3>
            <div class="info">
              <a href="Web-Programming.ejs">Details</a>
            </div>
          </div>
          <div class="box">
            <i class="fa-solid fa-atom fa-4x"></i>
            <h3>Data Science</h3>
            <div class="info">
              <a href="Data-Science.ejs">Details</a>
            </div>
          </div>
          
          </div>
        </div>
      

      <!-- End articles -->
      
      <div class="container">
        <br>
        <h2 class="main-title">Contact Us</h2>
      
      </div>
      <br>
<div class="contactus" id="contactus">
      <div class="image">
        <div class="content">
          <h2 style="color:black;">You Should Contact if:</h2>
          <p style="color: black;">
            If you have a plan to develop our site, or if you notice an error in the site, please tell us, or if you want to contact us for advertising or promotions
          </p>
          <img src="alexander-andrews-JYGnB9gTCls-unsplash.jpg"
          alt="" />
        </div>
      </div>
      <div class="form">
        <div class="content">
          <h2>Enter Your Information</h2>
          <form action="">
            <input class="input" type="text" placeholder="Your Name" name="name" />
            <input class="input" type="email" placeholder="Your Email" name="email" />
            <input class="input" type="text" placeholder="Your Phone" name="mobile" />
            <textarea class="input" placeholder="Tell Us About Your Needs" name="message"></textarea>
            <input type="submit" value="Send" />
          </form>
        </div>
      </div>
      <br>
    </div>

    
      <!-- Start Footer -->

    <div class="footer">
        <div class="container">
          <div class="box">
            <h3>Study   Buddy</h3>
            <ul class="social">
              <li>
                <a href="#" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="youtube">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
            <p class="text">
            A year from now you may wish you had started today, Actions speak louder than words
            </p>
          </div>
          <div class="box">
            <ul class="links">
              <li>Completing all work
              </li>
              <li>Being organized
              </li>
              <li>Working on good behavior
              </li>
              <li>Not cheating on homework and tests</li>
              <li>Participating in all class activities
              </li>
            
            </ul>
          </div>
          <div class="box">
            <div class="line">
              <i class="fas fa-map-marker-alt fa-fw"></i>
              
              <div class="info">Egypt,Alexandria University</div>
            </div>
            <div class="line">
              <i class="far fa-clock fa-fw"></i>
              <div class="info" id="cc"></div>
            </div>
            <div class="line">
              <i class="fa-solid fa-calendar"></i>
                            <div class="info" id="cd">
                
              </div>
            </div>
          </div>
          <div class="box footer-gallery">
            <i class="fa-solid fa-graduation-cap fa-10x" style="color:#ffffff;"></i>            
          </div>
        </div>
        <p class="copyright">Made By team-011</p>
        
      </div>
          
  </body>

</html>
      