<!DOCTYPE html>
<html>
    <head>
        <title>Web Programming Article</title>
        <link rel="stylesheet" href="article.css" />
        <script src="https://kit.fontawesome.com/a682db5ebd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="Untitled-1.css" />
        
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet" />
        <script src="main.js"></script>     

    </head>
    <body onload="startTime()">
        <div class="header" id="header">
            <div class="container">
              <div class="logo">
                <i  style="float: left;" class="fa-solid fa-graduation-cap"></i>
      
                <a href="HomePage.ejs" class="logo">Study Buddy</a>
              </div>
             
              
              <ul class="main-nav">
                <li><a href="../HomePage.ejs">Home</a></li>
                <li><a href="../HomePage.ejs#Roadmaps">Roadmaps</a></li>
                <li><a href="../HomePage.ejs#Books">Books</a></li>
                <li><a href="../HomePage.ejs#articles">Articles</a></li>
                <li><a href="../HomePage.ejs#contactus">Contact Us</a></li>
                <li><a href="/sign.ejs"><%= Signin %></a></li>
    
    
                
              </ul>
            </div>
          </div>
        <div id="art_page">
        <header style="text-align: center ; font-size: 80px;">Web Programming ! </header>

        <br><br>
        
        <iframe src="https://www.youtube.com/embed/xzYh5YEEGT8?autoplay=1&mute=1"></iframe>

        <section>
            <h1 id="art_h1">Content </h1>
            <ul id="art_ul">
                <li id="art_li"><a href="#section1">Programming definition</a></li>
                <li id="art_li"><a href="#section2">What is web programming?</a></li>
                <li id="art_li"><a href="#section3">What is the difference between web programming and computer programming?</a></li>
                <li id="art_li"><a href="#section4">While computer programming is concerned with the operating system, OS, and computer programs.</a></li>
                <li id="art_li"><a href="#section5">Web programming languages</a></li>
                <li id="art_li"><a href="#section6">PHP, HTML, CSS, JavaScript, XML, AJAX, SQL.</a></li>
                <li id="art_li"><a href="#section7">Professional languages</a></li>
                <li id="art_li"><a href="#section8">What are the basic programming languages that must be learned in order to detect intrusions?</a></li>
              </ul>
        </section>
        <br>
        <hr>
      
        <section id="section1">
            <h1 id="art_h1">Programming definition:</h1>
            
            <p id="art_p">We can define programming as the process of directing commands and writing instructions to a computer or any other device, such as DVD players, in addition to audio and video receivers in modern communication systems, so that this device is directed and informed of how to deal with The data, as well as how to implement (the algorithm), which is a series of required actions.</p>
            <p id="art_p">WWW is an abbreviation of the term World Wide Web.</p>
       
        </section>
        
        <br>
        <hr>

        <section id="section2">
            <img src="https://i1.wp.com/jusoor.com.sa/wp-content/uploads/2018/02/%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D8%A7%D9%84%D9%85%D9%88%D8%A7%D9%82%D8%B9.png?resize=1024%2C663&ssl=1" alt="web programming first image">
            <h1 id="art_h1">What is web programming?</h1>
            <br><br>
            <p id="art_p">A question that comes to the minds of many of us, what is web programming?</p>
            <br>
            <p id="art_p">Where we can define website programming as writing instructions and directing commands with the aim of creating or building a page or a number of web pages, using one of the available web programming languages, and these pages can also be linked with a database, so that it turns from mere web pages to scripts distinct.</p>
        
        </section>

        <br><br><br><br><br>
        <hr>

        <section id="section3">
            <h1 id="art_h1">What is the difference between web programming and computer programming?</h1>
            <p id="art_p">Many people are ignorant of the difference between website programming and computer programming, and here we will explain this difference in brief, as it can be said that website programming is concerned with web pages, websites and scripts that are displayed on the browser. And building and linking them to databases and other operations related to programming sites.</p>
        
        </section>

        <br>
        <hr>

        <section id="section4">
            <h1 id="art_h1">While computer programming is concerned with the operating system, OS, and computer programs.</h1>
            <img src="https://i1.wp.com/jusoor.com.sa/wp-content/uploads/2018/02/%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D8%A7%D9%84%D9%85%D9%88%D8%A7%D9%82%D8%B9-%D9%88%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D8%A7%D9%84%D8%AD%D8%A7%D8%B3%D9%88%D8%A8.jpg?resize=1024%2C676&ssl=1" alt="web programming second image">
            <p id="art_p">It should be noted that computer programming languages are quite different from web programming languages.</p>
            <p id="art_p">It is worth noting that HTML is an abbreviation of the sentence:</p>
            <h3>HTML: Hyper Text Markup Language</h3>
            <p id="art_p">Or, as it is known, the web programming language (html), is a number language used in creating and designing web pages and websites, and this language can be considered as one of the oldest and most widely used languages in web page design.</p>
            <p id="art_p">As HTML gives the structure of a web page, in addition to that it gives the Internet browser a description of how it displays its contents, as it indicates to the Internet browser that this is a headline or that paragraph and many other information that it shows.</p>
            <p id="art_p">It is reported that HTML uses what is known as “tags” to issue instructions to the browser. These tags are placed between two signs that are greater than “>” and less than “<”.</p>
        
        </section>

        <br>
        <hr>

        <section id="section5">
            <h1 id="art_h1">Web programming languages</h1>
            <p id="art_p">At the outset, it must be noted the meaning of the word language, where language can be defined as the method of communication and understanding between people, but in the case of a computer, language can be defined as the way in which a computer understands the user's request. Just as we have in our lives a set of terms and words that differ in use according to our need for them, as well as the different programming languages ​​have this feature as well, as there are many existing programming languages, and these languages ​​differ in terms of their work and purpose, but in the end all of these languages ​​are translated into machine language 0 and 1.</p>
            <p id="art_p">Therefore, the programmer must be familiar with some web programming languages, and be familiar with the appropriate language to implement this or that program, because the only programming language that a computer understands and can deal with is machine language. -machine language- It should be noted that programmers initially worked on analyzing the computer code - machine code - and how to deal with it in its incomprehensible and rigid form (0,1), but this process is considered very complex and difficult to deal with and because of its ambiguity and lack of clear understanding by humans, was invented High-end languages ​​that act as an intermediary between human language and machine language, which is the assembly language, which soon developed into high-level languages ​​such as C and BASIC. To translate the lines of the programming language into the computer language, which makes it easier for the computer to understand them and thus implement these commands and produce the results of the implementation.</p>
            <p id="art_p">Anyone who wants to learn website programming must first get acquainted with the many websites programming languages, and be well acquainted with them, so that he can succeed in this field, and here we will review together some of the programming languages ​​used globally, as Web design needs to learn a set of programming languages, and among the programming languages ​​that are included in web design are as follows:</p>
        
        </section>

        <br>
        <hr>

        <section id="section6">
            <h1 id="art_h1">(PHP, HTML, CSS, JavaScript, XML, AJAX, SQL).</h1>
            <p id="art_p">We can divide these languages into basic languages and professional languages.</p>
            <img src="https://i2.wp.com/jusoor.com.sa/wp-content/uploads/2018/02/%D9%84%D8%BA%D8%A7%D8%AA-%D8%A7%D9%84%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D8%A7%D9%84%D9%85%D9%88%D8%A7%D9%82%D8%B9.jpg?resize=1024%2C546&ssl=1" alt="web programming third image">
            <h3>They are the basic languages required in any site and that beginners must learn, and they are as follows:</h3>

            <ul id="art_ul">
                <li id="art_li">PHP(Hypertext Preprocessor)</li>
                <p id="art_p">It is an open programming language, meaning that this language and its programming codes are freely available to everyone, and it is an integral part of the HTML programming language.</p>
            </ul>

            <ul id="art_ul">
                <li id="art_li">HTML(HyperText Markup Language)</li>
                <p id="art_p">It is a language used in web page design, and HTML is one of the oldest and most widely used programming languages used in web page design.</p>
            </ul>

            <ul id="art_ul">
                <li id="art_li">Structured Query Language (SQL)</li>
                <p id="art_p">It is a language specialized in managing databases and defining the relationships between them.</p>
            </ul>

            <ul id="art_ul">
                <li id="art_li">cascading style sheet (CSS)</li>
                <p id="art_p">It is also a programming language of the type Markup Language, such as HTML, and this language is used to coordinate Internet pages. It is also concerned with the appearance of the page in addition to the arrangement and coordination (colors, font settings, and images).</p>
            </ul>

        </section>

        <br>
        <hr>
        
        <section id="section7">
            <h1 id="art_h1">Professional languages</h1>

            <ul id="art_ul">
                <li id="art_li">JavaScript</li>
                <li id="art_li">XML (Extensible Markup Language)</li>
                <li id="art_li">AJAX (Asynchronous JavaScript and XML)</li>
            </ul>
            
            <br>

            <p id="art_p">In light of the multiplicity of methods and the growing variety of tools used in penetration operations.</p>
            <p id="art_p">However, learning programming languages is indispensable to do a lot of tasks and to discover vulnerabilities to become a real security researcher.</p>
            <p id="art_p">Therefore, it is necessary to be familiar with hacker programming languages, and here the question arises:</p>
            
        </section>
            
        <br>
        <hr>
        
        <section id="section8">
            <h1 id="art_h1">What are the basic programming languages that must be learned in order to detect intrusions?</h1>
            <img src="https://i0.wp.com/jusoor.com.sa/wp-content/uploads/2018/02/%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D8%A7%D9%84%D9%85%D9%88%D8%A7%D9%82%D8%B9-%D8%A7%D9%84%D8%A7%D8%AE%D8%AA%D8%B1%D8%A7%D9%82%D8%A7%D8%AA-%D8%A7%D9%84%D8%A7%D9%85%D9%86%D9%8A%D8%A9.jpg?resize=1024%2C681&ssl=1" alt="web programming forth image">
            
            <p id="art_p">In addition to learning the basic structure of websites and how they work, and the languages used in programming websites represented by (HTML_JAVA_PHP_SQL), you need to program tools and scripts in order to exploit these gaps to implement the penetration, and therefore it is necessary to learn the most popular Ruby and Python languages in this field to be able to write codes penetration.</p>
            <p id="art_p">As Python is one of the easy-to-learn and widely used languages ​​in this specialty, Ruby is also a modern language and uses object-oriented programming.</p>
            <p id="art_p">The largest project in information security and penetration testing, Metasploit, is written in Ruby.</p>
            <p id="art_p">Dear reader, you must have noticed a lot of headlines on search engines that state, “Learn to program websites from A to Z in one week.”</p>
            <p id="art_p">Of course, you can learn the most important rules and basics of website programming if you follow the instructions and lessons step by step, but certainly if you want to be able to program and become a professional in this field, it is natural that the topic takes more time than the period specified in these titles, in addition to that It is about your desire, qualifications, ability to persevere and learn.</p>
        
        </section>
    
        </div>    
        <div class="footer">
            <div class="container">
              <div class="box">
                <h3>Study   Buddy</h3>
                <ul class="social">
                  <li>
                    <a href="#" class="facebook">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="youtube">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
                <p class="text">
                A year from now you may wish you had started today, Actions speak louder than words
                </p>
              </div>
              <div class="box">
                <ul class="links">
                  <li>Completing all work
                  </li>
                  <li>Being organized
                  </li>
                  <li>Working on good behavior
                  </li>
                  <li>Not cheating on homework and tests</li>
                  <li>Participating in all class activities
                  </li>
                
                </ul>
              </div>
              <div class="box">
                <div class="line">
                  <i class="fas fa-map-marker-alt fa-fw"></i>
                  
                  <div class="info">Egypt,Alexandria University</div>
                </div>
                <div class="line">
                  <i class="far fa-clock fa-fw"></i>
                  <div class="info" id="cc"></div>
                </div>
                <div class="line">
                  <i class="fa-solid fa-calendar"></i>
                                <div class="info" id="cd">
                    
                  </div>
                </div>
              </div>
              <div class="box footer-gallery">
                <i class="fa-solid fa-graduation-cap fa-10x" style="color:#ffffff;"></i>            
              </div>
            </div>
            <p class="copyright">Made By team-011</p>
            
          </div>
    </body>
</html>